*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFFFF;
}

.head{
    width: 100%;
    height: 100px;
    background-color: #FFF7E0;
    display: flex;
    align-items: center;
}
.head img{
    height: 70px;
    width: 70px;

    margin-left: 20%;
}
.head span{
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: bolder;
}

.container{
    width: 100%;
    height: 400px;
    background-color: #FEC724;
    display: flex;
    align-items: center;
}
.box{
    width: 100%;
    background-color: #FEEEB6;
    display: flex;
    justify-content: space-around;
    height: 70%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.box1{
    width: 250px;
    height: 250px;

}
.box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section1{
    background-color: #fff;
    width: 100%;
    height: 400px;
}
.section1 h1{
    margin-top: 50px;
    margin-left: 70px;
}
.section2{
    background-color: #FFF7E0;
    width: 100%;
    height: 400px;
}
.section3{
    width: 100%;
    height: 400px;
}
.content{
    background-color: #fff;
    width: 100%;
}
.images::before{
    position: absolute;
    background: url('content.png') no-repeat ;
    background-size: cover;
    background-size: 100%;
    content: '';
    width: 100%;
    height: 50%;
}
.images{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.images h1{
    margin-top: 12%;
    z-index: 99;
}
footer{
    background-color: rgba(29, 37, 44, 1);
}

.foot1 img{
    width: 100px;
    height: 100px;
}
.foot1::before {
    position: absolute;
    background: url('maprc logo.png') no-repeat;
    background-size: cover;
    background-size: 100%;
    content: '';
    width: 100px;
    height: 100px;
    background-blend-mode: multiply; /* Add this line */
}
