.footer {
    position: sticky;
    /* bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #343a40;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1000;
  }
  
  .footer-btn {
    border: none;
    background: none;
    color: white;
    font-size: 24px;
    transition: color 0.2s;
  }
  
  .footer-btn:hover {
    color: #007bff;
  }
  
  @media (min-width: 769px) {
    .footer {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: none;
    }
  }
  